/*=====================
      Google fonts 
   ====================*/ 
   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

   /*============================
      Common and reuseable styles
   ==========================*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html{
   font-size: 62.5%;
}
body{
   font-family: "Poppins" , sans-serif;
   max-width: 100%;
}
img{
   max-width: 100%;
}
a{
   text-decoration: none;
   font-weight: 700;
   text-transform: capitalize;
   font-size: 1.6rem;
}
h1{
   font-size: 5rem;
   color: #fff;
}
h1,h2,h3,h4,h5,h6{
   font-weight: 700;
   text-transform: capitalize;
   margin: 1rem 0;
}
h4{
   font-size: 1.8rem;
}
p{
   font-size: 1.6rem;
   line-height: 1.6em;
}
.flexible{
   display: flex;
}
.half-width{
   width: 50%;
}
.btn{
   background: #DD0000;
   padding: 1rem 2rem;
   display: inline-block;
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
   color: #fff;
   margin: 1rem 0;
   font-size: 1.6rem;
}
.fa-solid{
   padding:0rem 0.5rem;
}

/*=============================
   Header section styles
==============================*/
#header{
   padding: 2rem 5rem;
}
.header-container{
   justify-content:center;
   align-items: center;
   background: rgb(59, 46, 94);
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
   height: auto;
   padding:5rem 3rem 0rem;

}
.header-container .half-width p{
   color: #fff;
   margin-bottom: 1rem;
}

.header-container .header-banner {
   display: flex;
   justify-content: center;


}
.header-container .header-banner img {
   width: 85.5%;
}
/* Content section strat*/
#all-content{
   padding: 6rem 5rem;
}
#all-content .container{
   column-gap: 2rem;
   width: 100%;
   
}
.content_controller{ 
   display: grid;
   grid-template-columns: repeat(1,1fr);
   background: #000;
   height:22rem;
   padding:1rem;
   justify-items: center;
   align-items: center;
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
}
.content_controller .controller{
  color: #000;
  background:#fff;
  width: 18rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  text-transform: capitalize;
  padding: 0;
}
.contents{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-gap: 2rem;
}
.contents .content{
  background: #fff;
  height: auto;
  filter: drop-shadow(0rem 0.2rem 1.4rem #ddd);
  -webkit-filter: drop-shadow(0rem 0.2rem 1.4rem #ddd);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  
}
.contents .content img{
   width: 100%;
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
}
.content-details{
   padding: 1rem 1.5rem 2rem;
}
.transfer-btn{
   color: #161616;
   border: 1px solid #000;
   padding: 1rem 2rem;
   border-radius: 1rem;
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
   margin: 1rem 0;
   display: inline-block;
   font-size: 1.6rem;
}
.content-details .people-reaction{
   width: 60%;
   justify-content: space-between;
  
}
.content-details .people-reaction p,
.content-details .people-reaction p i{
   color: #343333;  
}
/* view btns styles here */
.view-section{
   width: 100%;
   overflow: hidden;
}
.view-all-btn{
   display: none;
   margin: 0 auto;
   padding: 1.5rem 3rem
}
.view-btn-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
}
/*============================
      footer section sytles
==============================*/ 
#footer{
   padding: 8rem 5rem;
   background:#161616; 
   flex-direction: column;
   align-items: center;
}
#footer h2{
   color: #fff;
   font-size: 3.5rem;
   text-transform: uppercase;
}
#footer hr{
   width: 95%;
   background: linear-gradient(rgba(189, 183, 183, 0.1),rgba(255, 255, 255, 0.2));
   margin: 3rem 0;
}
.footer-menu{
  justify-content: space-between;
  gap: 2rem;
  list-style-type: none;
}
.footer-menu li{
   padding-left: 1rem;
}
.footer-menu li a{
  color: #B9B9B9;
  display: block;
}
